body{
    background: rgb(255, 165, 255);
    padding-top: 100px;
}

.title{
    background: yellow;
    text-align: center;
    height: 80px;
    padding-top: 40px;
    font-size: xx-large;
    font-weight: bold;
}


table{
    border-collapse: collapse;
}

td{
    border: 3px solid black;
    background: rgb(227, 255, 171);
    width: 100px;
    height: 100px;
    text-align: center;
}
